.wiki-content {
  --background: white;
  padding: 16px;
}

.title {
  font-weight: 700;
  margin-bottom: .5em;
}

/* Subtítulo */
.subtitle {
  color: var(--ion-color-medium);
  margin-bottom: .5em;
}

/* Buscador + botón */
.search-container {
  display: flex;
  align-items: center;
  padding: 0;
margin-bottom: 1.5em;

}

  ion-searchbar {
    --background: #fafafa;
    --border-radius: 20px;
    --margin: 0;
}

  .new-page-btn {

  --background: #8658c7;
  display: flex;
  width: max-content;
  --border-radius: 10px;
  margin-bottom: 2em;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}



.new-page-btn p {
  font-size: 13px;
  text-wrap: nowrap;
}


/* Títulos de sección */
.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 18px 0 12px 0;
}

/* Cards destacadas */
.lista.wikis{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.wiki-card {

  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 0;

  .card-content {
    display: flex;
    justify-content: space-between;

    padding: 1em;

    border: 2px solid #ececec;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

 .card-content.top{
    border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  }

 .card-content.bottom{
    border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 13px;
    color: #6c757d;
    margin: 2px 0 0 0;
  }
}

/* Grid materias */
.subjects-grid {
  display: flex;
  
  gap: .1em;


  margin: 0;
}

.subject-card {
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
   border: 2px solid #ececec;
  margin: 0;
  width: 25%;

  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
  }

  p {

    font-weight: 500;
    margin: 0;
    font-size: 10px;
  }
}

/* Iconos circulares */
.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
}

.purple {
  background: #7c4dff;
}

.blue {
  background: #2979ff;
}

.green {
  background: #00c853;
}

.orange {
  background: #ff6d00;
}