<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Subtítulo -->
  <h2 class="title">Wiki colaborativa</h2>
  <p class="subtitle">
    Crea, edita y organiza el conocimiento.
  </p>

  <!-- Buscador + Botón -->
  <div class="search-container">
    <ion-searchbar
      placeholder="Buscar en la wiki..."
      show-clear-button="focus">
    </ion-searchbar>

    
  </div>

  <ion-button expand="block" shape="round" class="new-page-btn">
      <ion-icon name="add" slot="start"></ion-icon>
      <p>Nueva página</p>
    </ion-button>

  <!-- Páginas destacadas -->
  <h2 class="section-title">Páginas destacadas</h2>

  <div class="lista-wikis">
    <ion-card class="wiki-card ">
      <ion-card-content class="card-content top">
        <div>
          <h3>Derivadas e Integrales</h3>
          <p>Matemáticas</p>
        </div>

        <ion-icon name="star" color="warning"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="wiki-card">
      <ion-card-content class="card-content">
        <div>
          <h3>Leyes de Newton</h3>
          <p>Física</p>
        </div>

        <ion-icon name="star-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="wiki-card ">
      <ion-card-content class="card-content bottom">
        <div>
          <h3>Estructuras de Datos</h3>
          <p>Programación</p>
        </div>

        <ion-icon name="star" color="warning"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

  

  <!-- Explorar por materia -->
  <h2 class="section-title">Explorar por materia</h2>

  <div class="subjects-grid">

    <ion-card class="subject-card">
      <ion-card-content>
        <div class="icon purple">
          <ion-icon name="analytics-outline"></ion-icon>
        </div>
        <p>Matemáticas</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="subject-card">
      <ion-card-content>
        <div class="icon blue">
          <ion-icon name="planet-outline"></ion-icon>
        </div>
        <p>Física</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="subject-card">
      <ion-card-content>
        <div class="icon green">
          <ion-icon name="code-slash-outline"></ion-icon>
        </div>
        <p>Programación</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="subject-card">
      <ion-card-content>
        <div class="icon orange">
          <ion-icon name="library-outline"></ion-icon>
        </div>
        <p>Historia</p>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>